.navbar {
    z-index: 99;
    position: sticky;
    top: 0;
    background: transparent;
}

.navbar.active {
    background: rgb(48, 46, 46);
}

.h-container {
    justify-content: space-between;
    color: var(--secondary);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h-menu {
    gap: 2rem;
}

.h-menu>*:hover {
    cursor: pointer;
}